{% extends '../base.html' %}
{% load sliced %}

{% block content %}
    <div class="row mt-5">
        <div class="col-md-3">
            
        </div>
        <div class="col-md-6"> 
            <h2 class="text-center text-muted mb-5">
                Sign Up for a Poll Station account
            </h2>
        <form method='POST' >
        {% csrf_token %}        
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class='mt-2 error_box'>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>{{ error|escape }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div> 
          
                {% endfor %}
            {% endfor %}
        {% endif %}
          
        <div class="input-group mb-3">           
            <input type="text" name='first_name' id="id_first_name" autocomplete="off" class="form-control" placeholder="First name" aria-label="word" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">           
            <input type="text" name='last_name' id="id_last_name" autocomplete="off" class="form-control" placeholder="Last name" aria-label="word" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            
            <input type="text" name='email' id="id_email" autocomplete="off" class="form-control" placeholder="Email" aria-label="word" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            
            <input type="password" name='password1' id="id_password1" autocomplete="off" class="form-control" placeholder="Password" aria-label="word" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            
            <input type="password" name='password2' id="id_password2" autocomplete="off" class="form-control" placeholder="Confirm Password" aria-label="word" aria-describedby="basic-addon1">
        </div> 
        
        <button type='submit' class="btn btn-primary">Sign Up</button>
        </form>
    </div> 
    </div>
{% endblock content %}