{% extends 'base.html' %}

{% block content %}
    <div class='py-lg-5'>
        <h1 class='text-center mt-5'>
            Welcome to Poll Station
        </h1>
        <h4 class='text-muted text-center'>
            Take a Poll and share your opinion on wide range of problem, sugguest solutions and whole lot of other fun stuff
        </h4>
    </div>
    <div class='mb-5'>
        <div class='title d-flex justify-content-between align-items-center'>
            <h4>
                Current Polls
            </h4>
            {% if request.user.is_authenticated %}  
                <a class="btn btn-success" href="{% url 'poll_app:poll_create' %}">Create A poll</a>
            {% else %}
                <a class="btn btn-success" href="{% url 'poll_app:poll_create' %}?next=/create/"> Login & Create A poll</a>
            {% endif %}
            
        </div>
        <hr class='text-muted'/>
        

        <div class='cards d-flex flex-wrap justify-content-between'>
            {% for i  in poll %}
            
            <div class="card mb-3" style="width: 350px;">
                <div class="row g-0">
                   
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'poll_app:take_poll' uuid=i.uuid %}">{{i.poll_title }}</a></h5>
                            <p class="card-text">{{i.poll_description}}</p>
                            <p class="card-text"><small class="text-muted">Created : {{i.date_created | timesince}} ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            

                
        </div>

        
    </div>
{% endblock content %}

