{% extends '../base.html' %}
{%load static%}
{% load index %}
{%block css%}
<link rel="stylesheet" href="{%static 'css/take_poll.css'%}">
{%endblock css%}
{% block content %}
<div style="width: 80%; margin-left: 10%;">
    
    <div class="loader_overlay"></div>
    <div class="poll mb-5">
        <h3 class="poll_title">
            {{poll.poll_title}} 
        </h3>
        <hr>
        <p>
            <strong>Description</strong>: {{poll.poll_description}}
        </p>
        
            {% for j in poll.questions.all  %}
                <div class="poll_question_answers mt-4">
            <div class="poll_question">
                <strong>Q{{forloop.counter}}.</strong> {{j.question}}
            </div>
            <div class="answer_box ml-3">
          
            {% for k in j.answers.all %}
                <div class="answer mt-2 p-3">
                    <div class="overlay"></div>
                    {% with counter=forloop.counter|add:"3" %}
                    <strong>{{letters|index:forloop.counter0}}. </strong>  {{k.content}}
                    {% endwith %}
                    
                </div>
            {% endfor %}
                
                
            </div>  

        </div>

            {% endfor %}
       
        <buttton class="submit_btn btn btn-primary mt-4">
            Submit 
        </buttton>
    </div>
</div>

{% endblock content %}

{%block script%}
    <script src="{%static 'js/take_poll.js'%}"></script>
{%endblock script%}